#animated-h-text {
  animation: blink 800ms steps(13) infinite normal;
  border-right: 2px solid white;
}
@keyframes blink {
  from {
    border-color: white;
  }
  to {
    border-color: transparent;
  }
}
