.input-wrapper .floating-label {
  position: absolute;
  top: 0.8rem;
  z-index: 3;
  left: 0.5rem;
  pointer-events: none;
  transition: 0.2s ease-in-out all;
}
.input-wrapper input:focus ~ .floating-label,
.input-wrapper input:not(:placeholder-shown) ~ .floating-label {
  top: -0.05rem;
  font-size: 14px;
}
.input-wrapper input {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 20px;
  font-size: 18px;
  padding-bottom: 0.5rem;
}
.input-wrapper input::placeholder {
    opacity: 0;
}